<div class="container">
	<div class="first-title">
		Looking for the Best Reverse Mortgage?
	</div>
	<div class="second-title">
		Learn how to Eliminate your Mortgage Payments with a Reverse Mortgage
	</div>	
</div>
<div class="container">
	<div class="row">
		<div class="span7">
			<div class="bottom-info">
				<div class="more-info-title">
					All Credit Types
				</div>
				With a reverse mortgage, you can qualify regardless of your credit! Get the <span class="emp-text">free guide</span> to learn more today and schedule a <span class="emp-text">free consultation</span> with a financial advisor.
				<div class="more-info-title">
					No Income Required
				</div>
				With federally-insured reverse mortgages, there are <span class="emp-text">NO income or medical requirements</span>. So regardless of your current situation, you can qualify.
				<div class="more-info-title">
					Disbursement Options
				</div>
				A reverse mortgage can provide <span class="emp-text">flexible monthly income</span> to the borrower for as long as they occupy the home. Learn about the six different ways you can receive income.
				<div class="more-info-title">
					Age Eligibility
				</div>
				Reverse mortgages are designed for homeowners at least <span class="emp-text">62 years of age</span> with moderate to significant equity in their homes. Learn more with your <span class="emp-text">free guide</span>.
			</div>
		</div>
		<div class="span3 offset1" style="margin-top:-110px;">
			<img src="/assets/arrow.png" class="arrow">
			<div class="sign-up-box">
				<div class="free-guide">
					Order your FREE DVD and eBook Now
				</div>
				<div class="form-part-1">
					<%= form_for User.new, :validate => true, :html => {:id => "form1"} do |f| %>
						<%= f.label :home_value, 'The value of your home is:' %>
						<%= f.select :home_value, home_value_options, :validate => { presence: true } %>
						<div class="message" id="home_value_error"></div>
						<%= f.label :mortgage_balance, 'Your mortgage balance is:' %>
						<%= f.select :mortgage_balance, mortgage_balance_options %>
						<div class="message" id="mortgage_balance_error"></div>
						<%= f.label :zipcode %>
						<%= f.text_field :zipcode, placeholder: "Zipcode" %>
						<div class="message" id="zip_error"></div>
						<%= f.label :name %>
						<%= f.text_field :name, placeholder: "Name" %>
						<%= f.label :email %>
						<%= f.text_field :email, placeholder: "Email" %>
						<div class="message" id="email_error"></div>
						<%= f.label :phone %>
						<%= f.text_field :phone, placeholder: "Phone" %>
						<div class="message" id="phone_error"></div>
							<%= f.submit "Claim Offer >>", :class => "submit", :id => "submit-part-1" %>
					<% end %>
				</div>
			</div>
			<img src="/assets/bbb.png" class="bbb">
		</div>
	</div>
</div>
