<div class="container">
	<div class="first-title">
		Looking for the Best Reverse Mortgage?
	</div>
	<div class="second-title">
		Learn how to Eliminate your Mortgage Payments with a Reverse Mortgage
	</div>	
</div>
<div class="container">
	<div class="row">
		<div class="span7">
			<div class="bottom-info">
				<div class="more-info-title">
					All Credit Types
				</div>
				With a reverse mortgage, you can qualify regardless of your credit! Get the <span class="emp-text">free guide</span> to learn more today and schedule a <span class="emp-text">free consultation</span> with a financial advisor.
				<div class="more-info-title">
					No Income Required
				</div>
				With federally-insured reverse mortgages, there are <span class="emp-text">NO income or medical requirements</span>. So regardless of your current situation, you can qualify.
				<div class="more-info-title">
					Disbursement Options
				</div>
				A reverse mortgage can provide <span class="emp-text">flexible monthly income</span> to the borrower for as long as they occupy the home. Learn about the six different ways you can receive income.
				<div class="more-info-title">
					Age Eligibility
				</div>
				Reverse mortgages are designed for homeowners at least <span class="emp-text">62 years of age</span> with moderate to significant equity in their homes. Learn more with your <span class="emp-text">free guide</span>.
			</div>
		</div>
		<div class="span3 offset1">
			<img src="/assets/arrow.png" class="arrow">
			<div class="sign-up-box">
				<div class="progress">
					<div class="bar" style="width:30%;"></div>
				</div>
				<div class="free-guide">
					Order your FREE DVD and eBook Now
				</div>
				<div class="form-part-1">
					<%= form_for User.new, remote: true, :html => {:id => "form1"} do |f| %>
						<%= f.label :home_value, 'The value of your home is:' %>
						<%= f.select :home_value, home_value_options, :validate => { presence: true } %>
						<div class="message" id="home_value_error"></div>
						<%= f.label :mortgage_balance, 'Your mortgage balance is:' %>
						<%= f.select :mortgage_balance, mortgage_balance_options %>
						<div class="message" id="mortgage_balance_error"></div>
							<%= f.submit "Get Started >>", :class => "submit", :id => "submit-part-1" %>
					<% end %>
				</div>
			</div>
			<img src="/assets/bbb.png" class="bbb">
		</div>
	</div>
</div>
<%= render partial: 'users/form2' %>
<%= render partial: 'users/form3' %>
<script type="text/javascript">
	$('input#user_mortgage_balance').blur(function(event){
		if ($('input#user_mortgage_balance').val().length < 1) {
			event.preventDefault();
			$('#mortgage_balance_error').empty().append("Enter a correct mortgage balance");
		}
		if ($('input#user_mortgage_balance').val().length > 0) {
			$('#mortgage_balance_error').empty();
		}
	});
	$('input#user_home_value').blur(function(event){
		if ($('input#user_home_value').val().length < 1) {
			event.preventDefault();
			$('#home_value_error').empty().append("Enter a correct home value");
		}
		if ($('input#user_home_value').val().length > 0) {
			$('#home_value_error').empty();
		}
	});
	$('#submit-part-1').click(function(event){
		if ($('input#user_mortgage_balance').val().length < 1) {
			event.preventDefault();
			$('#mortgage_balance_error').empty().append("Enter a correct mortgage balance");
		}
		if ($('input#user_home_value').val().length < 1) {
			event.preventDefault();
			$('#home_value_error').empty().append("Enter a correct home value");
		}
	});
	
</script>