<div class="container">
	<div class="first-title">
		Looking for the Perfect Reverse Mortgage?
	</div>	
</div>
<div class="container">
	<div class="row">
		<div class="span7">
			<div class="bottom-info">
				<div class="more-info-title">
					All Credit Types
				</div>
				With a reverse mortgage, you can qualify regardless of your credit! Get the <span class="emp-text">free guide</span> to learn more today and schedule a <span class="emp-text">free consultation</span> with a financial advisor.
				<div class="more-info-title">
					No Income Required
				</div>
				With federally-insured reverse mortgages, there are <span class="emp-text">NO income or medical requirements</span>. So regardless of your current situation, you can qualify.
				<div class="more-info-title">
					Disbursement Options
				</div>
				A reverse mortgage can provide <span class="emp-text">extra cash flow</span> to the borrower for as long as they occupy the home. Learn about the six different ways you can receive income.
				<div class="more-info-title">
					Age Eligibility
				</div>
				Reverse mortgages are designed for homeowners at least 62 years of age with moderate to significant equity in their homes. Learn more with your <span class="emp-text">free guide</span>.
			</div>
		</div>
		<div class="span3 offset1">
			<img src="/assets/arrow.png" class="arrow">
			<div class="sign-up-box">
				<div class="free-guide">
					Recieve a free guide and consultation today!
				</div>
				<div class="progress">
					<div class="bar" style="width:30%;"></div>
				</div>
				<div class="form-part-1">
					<%= form_for User.new, remote: true, :html => {:id => "form1"} do |f| %>
						<%= f.label :zipcode, :class => "zipcode" %>
							<%= f.text_field :zipcode, placeholder: "Zipcode" %>
							<div class="message" id="zip_error"></div>
							<%= f.submit "Get Started", :class => "submit", :id => "submit-part-1" %>
					<% end %>
				</div>
			</div>
			<img src="/assets/bbb.png" class="bbb">
		</div>
	</div>
</div>
<%= render partial: 'users/form2' %>
<%= render partial: 'users/form3' %>
<script type="text/javascript">
	$('input#user_zipcode').blur(function(event){
		var zipRegex = /^\d{5}$/;
		if (!zipRegex.test($('input#user_zipcode').val())) {
			event.preventDefault();
			$('#zip_error').empty().append("Please enter a valid zipcode");
		}
		if (zipRegex.test($('input#user_zipcode').val())) {
			$('#zip_error').empty();
		}
	});
	$('#submit-part-1').click(function(event){
		var zipRegex = /^\d{5}$/;
		if (!zipRegex.test($('input#user_zipcode').val())) {
			event.preventDefault();
			$('#zip_error').empty().append("Please enter a valid zipcode");
		}
	});
</script>