<div class="form-part-3">
	<%= form_for @user, :method => :put, :html => {:id => "form3" } do |f| %>
	<div class="row">
		<div class="span1">
				<%= f.label :name %>
				<%= f.text_field :name, placeholder: "Name", :style => "width:90px;" %>
		</div>
		<div class="span1 one-line-form">
				<%= f.label :email %>
				<%= f.text_field :email, placeholder: "Email", :style => "width:90px;" %>
		</div>
		<div class="span1 one-line-form">
				<%= f.label :phone %>
				<%= f.text_field :phone, placeholder: "Phone", :style => "width:90px;" %>
		</div>
	</div>
	<div class="row">
		<div class="span2" style="width:102px;">
			<div class="message" id="name_error"></div>
		</div>
		<div class="span2" style="width:102px;">
			<div class="message" id="email_error"></div>
		</div>
		<div class="span2" style="width:102px;">
			<div class="message" id="phone_error"></div>
		</div>
	</div>
				<%= f.submit 'Submit!', :class => "submit", :id => "submit-part-3" %>
	<% end %>
	<div class="back-link" id="back-link-2">Back</div>
</div>
<script type="text/javascript">
	$('input#user_name').blur(function(event){
		if ($('input#user_name').val().length < 1) {
			event.preventDefault();
			$('#name_error').empty().append("Please enter your name");
		}
		if ($('input#user_name').val().length > 0) {
			$('#name_error').empty();
		}
	});
	$('input#user_email').blur(function(event){
		var email_format = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
		if (!email_format.test($('input#user_email').val())) {
			event.preventDefault();
			$('#email_error').empty().append("Please enter a valid email");
		}
		if (email_format.test($('input#user_email').val())) {
			$('#email_error').empty();
		}
	});
	$('input#user_phone').blur(function(event){
		if ($('input#user_phone').val().replace(/\D+/g,'').length != 10) {
			event.preventDefault();
			$('#phone_error').empty().append("Please enter your phone number");
		}
		if ($('input#user_phone').val().replace(/\D+/g,'').length == 10) {
			$('#phone_error').empty();
		}
	});
	$('#submit-part-3').click(function(event){
		var email_format = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
		if ($('input#user_name').val().length < 1) {
			event.preventDefault();
			$('#name_error').empty().append("Please enter your name");
		}
		if (!email_format.test($('input#user_email').val())) {
			event.preventDefault();
			$('#email_error').empty().append("Please enter a valid email");
		}
		if ($('input#user_phone').val().replace(/\D+/g,'').length != 10) {
			event.preventDefault();
			$('#phone_error').empty().append("Please enter your phone number");
		}
	});
	$('#back-link-2').click(function(){
		$('.form-part-3').hide();
		$('.form-part-2').show().insertAfter('div.progress');
	});
</script>