<div class="form-part-2">
	<%= form_for @user, :remote => :true, :method => :put, :html => {:id => "form2" } do |f| %>
		<div class="row">
			<div class="span2">
				<%= f.label :email %>
				<%= f.text_field :email, placeholder: "Email", :style => "width:90px;" %>
				<div class="message" id="email_error"></div>
			</div>
			<div class="span2">
				<%= f.label :zipcode %>
				<%= f.text_field :zipcode, placeholder: "Zipcode", :style => "width:90px;" %>
				<div class="message" id="zip_error"></div>
			</div>
		</div>
		<%= f.submit 'Next', :class => "submit", :id => "submit-part-2" %>
	<% end %>
	<div class="back-link" id="back-link-1">Back</div>
</div>
<script type="text/javascript">
	$('input#user_email').blur(function(event){
		var email_format = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
		if (!email_format.test($('input#user_email').val())) {
			event.preventDefault();
			$('#email_error').empty().append("Please enter a valid email");
		}
		if (email_format.test($('input#user_email').val())) {
			$('#email_error').empty();
		}
	});
	$('input#user_zipcode').blur(function(event){
		var zipRegex = /^\d{5}$/;
		if (!zipRegex.test($('input#user_zipcode').val())) {
			event.preventDefault();
			$('#zip_error').empty().append("Please enter a valid zipcode");
		}
		if (zipRegex.test($('input#user_zipcode').val())) {
			$('#zip_error').empty();
		}
	});
	$('#submit-part-2').click(function(event){
		var zipRegex = /^\d{5}$/;
		if (!zipRegex.test($('input#user_zipcode').val())) {
			event.preventDefault();
			$('#zip_error').empty().append("Please enter a valid zipcode");
		}
		var email_format = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
		if (!email_format.test($('input#user_email').val())) {
			event.preventDefault();
			$('#email_error').empty().append("Please enter a valid email");
		}
	});
	$('#back-link-1').click(function(){
		$('.form-part-2').hide();
		$('.form-part-1').show().insertAfter('div.free-guide');
	});
</script>